/* Importing google fonts - inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

.chatbot-popup {
    position: fixed;
    width: 420px;
    right: 95px;
    bottom: 30px;
    opacity: 0;
    pointer-events: none;
    background: #FFF;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0px 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    transform: scale(0.2);
    transform-origin: bottom right;
}

.chat-header {
    display: flex;
    align-items: center;
    background: #5350C4;
    padding: 15px 22px;
    justify-content: space-between;
}

.chat-header .header-info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-info .chatbot-logo{
    height: 44px;
    width: 45px;
    border-radius: 50%;
    padding: 2px;
    flex-shrink: 0;
}

.header-info .logo-text {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
}

.chat-header #close-chatbot {
    border: none;
    color: #FFF;
    background: #3d39ac;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.6rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
    background: #2e2a91;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 450px;
    margin-bottom: 80px;
    scrollbar-width: thin;
    scrollbar-color: #c4c4d1 #f1f1f1;
}

.chat-body .message {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-body .bot-welcome .bot-avatar {
    height: 44px;
    width: 45px;
    border-radius: 50%;
    padding: 2px;
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 2px;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
    
}

.chat-body .bot-message .thinking .message-text {
    padding: 2px 16px;
}

.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .bot-welcome .message-text {
    background: #dbdbe9;
    border-radius: 13px 13px 13px 13px;
}

.chat-body .user-message .message-text {
    background: #5350C4;
    color: #FFF;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .bot-welcome .thinking-indicator {
    display: flex;
    gap: 4px;
    padding-block: 12px;
    /* animation: dotPulse 1.8s ease-in-out infinite; */
}

.chat-body .bot-welcome .thinking-indicator .dot {
    height: 5px;
    width: 5px;
    background: #6F6BC2;
    opacity: 0.7;
    border-radius: 50%;
    animation: dotPulse 1.8s ease-in-out infinite;
}

.chat-body .bot-welcome .thinking-indicator .dot:nth-child(1) {
    animation-delay: 0.2s;
}

.chat-body .bot-welcome .thinking-indicator .dot:nth-child(2) {
    animation-delay: 0.3s;
}

.chat-body .bot-welcome .thinking-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotPulse {
    0%, 44% {
        transform: translateY(0);
    }

    28% {
        opacity: 0.4;
        transform: translateY(-4px);
    }

    44% {
        opacity: 0.2;
    }
}

.chat-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form {
    display: flex;
    position: relative;
    align-items: center;
    background: #FFF;
    outline: 1px solid #9494b9;
    border-radius: 32px;
}

.chat-footer .chat-form:focus-within {
    outline: 2px solid #53503f;
}

.chat-form .message-input {
    border: none;
    outline: none;
    height: 47px;
    width: 100%;
    max-height: 200px;
    /* white-space: pre-line; */
    font-size: 0.95rem;
    padding: 14px 0px 14px 18px;
    border-radius: inherit;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.chat-form .message-input:hover {
    scrollbar-color: #cccc55 transparent;
}

.chat-form .chat-controls {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
    height: 47px;
    gap: 3px;
}

.chat-form .chat-controls button {
    height: 35px;
    width: 35px;
    border: none;
    background: #f1f1f1;
    font-size: 1.3rem;
    color: #5350C4;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s ease;
}

.chat-form .chat-controls button:hover {
    background: #dad3d3;
}

.chat-form .chat-controls #send-message {
    background: #5350C4;
    display: none;
    color: #FFF;
}

.chat-form .message-input:valid~.chat-controls #send-message {
    display: block;
}

.chat-form .chat-controls #send-message:hover {
    background: #3d39ac;
}

.chat-body .user-message .attachment {
    width: 50%;
    margin-top: -8px;
    border-radius: 14px 4px 14px 14px;
}

.chat-form .file-upload-wrapper {
    height: 35px;
    width: 35px;
    position: relative;
}

.chat-form .file-upload-wrapper img {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel {
    display: block;
}

.chat-form .file-upload-wrapper :where(img, button) {
    position: absolute;
}

.chat-form .file-upload-wrapper #file-cancel {
    color: #ff0000;
    background: #fff;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload {
    display: none;
}

em-emoji-picker {
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    visibility: hidden;
    transform: translateX(-50%);
}

body.show-emoji-picker em-emoji-picker {
    visibility: visible;
}

#chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background: #5350C4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#chatbot-toggler span {
    color: #FFF;
    position: absolute;
}

body.show-chatbot #chatbot-toggler span:first-child,
#chatbot-toggler span:last-child {
    opacity: 0;
}

body.show-chatbot .chatbot-popup {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

body.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
}

body.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
}

/* Responsive media queries for mobile devices */
@media (max-width: 500px) {
    #chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot-popup {
        width: 100%;
        right: 0;
        bottom: 0;
        border-radius: 0;
        height: 100%;
    }

    .chatbot-popup .chat-header {
        padding: 15px 18px;
    }

    .chat-body {
        height: calc(90% - 55px);
        padding: 20px 18px;
    }

    .chat-footer {
        padding: 12px 15px 18px;
    }

    .chat-form .file-upload-wrapper .file-uploaded #file-cancel {
        opacity: 0;
    }
}